<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>services</li>
                <li>Testimonials</li>
                <li>Case_studies</li>
                <li>Blog</li>
                <li>Pricing</li>
            </ul>
        </nav>
    </header>

    {% block content %}

    {% endblock content %}

    <footer>
    <p>McCoy's 1800</p>
    </footer> 
</body>
</html>